<!DOCTYPE html>
<html lang="en">
    <head>
        <meta http-equiv="refresh" content="60">

        <title>Casting Agency</title>
        <style>

        </style>
    </head>
    <body>

        <h3>Welcome to Casting Agency API</h3>
        <div class="buttons">
        <a id="loginButton" href="https://khalawi.us.auth0.com/authorize?audience=Agency&response_type=token&client_id=PwUwrDo6fgOm80xj1XkR0oSdcVlaGcZq&redirect_uri=http://localhost:8080/login
        " > Log in </a>
        </div>
    </body>
</html>